services:
  mediamtx:
    image: bluenviron/mediamtx
    network_mode: host
    environment:
      - MTX_LOGLEVEL=info
      - MTX_RTSPADDRESS=:8554
      - MTX_HLSADDRESS=:8890
      - MTX_HLSALWAYSREMUX=yes
      - MTX_HLSVARIANT=lowLatency
      - MTX_HLSSEGMENTCOUNT=7
      - MTX_HLSSEGMENTDURATION=500ms
      - MTX_HLSPARTDURATION=100ms
      - MTX_API=yes
      - MTX_APIADDRESS=:9997
      - MTX_PATHS_LIVE_SOURCE=publisher
    restart: unless-stopped