PORT=8080
VIDEO_DEVICE=/dev/video0
# Use 'pactl list sources short' to find the audio device name
AUDIO_DEVICE=alsa_input.usb-Remo_Tech_Co.__Ltd._OBSBOT_Tiny_2_Lite-02.analog-stereo
RTSP_URL=rtsp://localhost:8554/live
CAPTURE_SERVICE=gstreamer # Options: ffmpeg, gstreamer

# STT Settings
ENABLE_STT=false
WHISPER_PATH=./whisper.cpp
WHISPER_MODEL=models/ggml-base.bin
